page-login {

}


.background-img{

    background-image: url("./Android_Master_bg.jpg");
    background-color: red;
    text-align: center;
  }


ion-input {
      border: 2px solid white;
    }
input{

}
